## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [140]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [141]:
# Your code here
sample_list_1 = random.sample(range(0, 100), 80)
print(sample_list_1)

[52, 16, 88, 29, 74, 58, 92, 6, 47, 24, 33, 35, 4, 67, 41, 54, 70, 99, 18, 98, 66, 39, 57, 63, 43, 86, 10, 2, 73, 0, 93, 22, 91, 28, 79, 61, 46, 34, 94, 64, 38, 23, 87, 68, 59, 82, 3, 60, 27, 12, 13, 15, 97, 37, 56, 1, 5, 51, 7, 69, 25, 11, 31, 76, 96, 26, 20, 40, 83, 36, 17, 49, 21, 80, 8, 44, 72, 55, 78, 77]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [142]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [143]:
# Your code here
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)
print(len(sample_list_2))

[93, 0, 96, 47, 22, 41, 100, 64, 87, 89, 28, 21, 47, 44, 15, 70, 58, 41, 66, 7, 63, 71, 26, 93, 69, 14, 100, 19, 75, 89, 75, 91, 20, 30, 22, 43, 63, 11, 29, 24, 21, 6, 20, 77, 47, 6, 88, 12, 83, 16, 32, 28, 55, 48, 41, 39, 88, 17, 74, 43, 18, 11, 5, 70, 39, 26, 17, 86, 19, 73, 22, 90, 13, 86, 29, 49, 37, 21, 84, 83]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [144]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [145]:
# Your code here
set3list = []

for n in set1:
    if n not in set2:
        set3list.append(n)

set3 = set(set3list)
print(set3)

{1, 2, 3, 4, 8, 10, 23, 25, 27, 31, 33, 34, 35, 36, 38, 40, 46, 51, 52, 54, 56, 57, 59, 60, 61, 67, 68, 72, 76, 78, 79, 80, 82, 92, 94, 97, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [146]:
# Your code here
set4list = []

for n in set2:
    if n not in set1:
        set4list.append(n)

set4 = set(set4list)
print(set4)

{32, 100, 71, 75, 14, 48, 19, 84, 89, 90, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [147]:
# Your code here
set1list = list(set1)
set2list = list(set2)

set5list = set1list + set2list
set5 = set(set5list)
print(set5)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 46, 47, 48, 49, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [148]:
# Your code here
print (len(set1))
print (len(set2))
print (len(set3))
print (len(set4))
print (len(set5))

print(len(set1) + len(set4) == len(set2) + len(set3) == len(set5))

80
53
38
11
91
True

#### Create an empty set called `set6`.

In [149]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [150]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)
print(len(set6))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 46, 47, 48, 49, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100}
91

#### Check if `set1` and `set6` are equal.

In [151]:
# Your code here
print(set1 == set6)

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [152]:
# Your code here
print(set2.issubset(set1))
if set2.issubset(set1) == True:
    print("Set 1 does contain Set 2")
else:
    print("Set 1 does not contain Set 2")

print(set3.issubset(set1))
if set3.issubset(set1) == True:
    print("Set 1 does contain Set 3")
else:
    print("Set 1 does not contain Set 3")

False
Set 1 does not contain Set 2
True
Set 1 does contain Set 3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [153]:
# Your code here
set3set4set5 = set3.union(set4, set5)
print(set3set4set5)
set1set2 = set1.union(set2)
print(set1set2)
print(len(set3set4set5) == len(set1set2))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 46, 47, 48, 49, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 46, 47, 48, 49, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100}
True

#### Using the `pop` method, remove an element from `set1`.

In [154]:
# Your code here
print(set1list.pop(1))

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [165]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
remaining_elements = []

for num in set1:
    if num not in list_to_remove:
        remaining_elements.append(num)
print(remaining_elements)

[0, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 33, 34, 35, 36, 37, 38, 40, 43, 44, 46, 47, 52, 54, 55, 56, 57, 58, 60, 63, 64, 66, 67, 68, 70, 72, 73, 74, 76, 77, 78, 80, 82, 83, 86, 87, 88, 92, 93, 94, 96, 97, 98]